
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
    background: #fff8f2;
    color: #333;
    padding: 20px;
  }
  

  header {
    background: linear-gradient(to right, #ffd45f, #f7dd6b);
    color: white;
    text-align: center;
    padding: 50px;
  }
  


  .container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
  }
  
  
  .recipe-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .recipe-content {
    padding: 15px;
  }
  
  .recipe-title {
    font-size: 1.5em;
    color: #e89804;
  }

  button {
    background: #e88d04;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  footer {
    text-align: center;
    padding: 15px;
  
    background: #ffe8d6;
    margin-top: 40px;
  }
  
  img{
    width: 400px;
  }

  body{
    color: rgb(223, 149, 65);
    margin: 0px 100px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}